<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.stuartrosk.borders.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.stuartrosk.borders.app.permission.C2D_MESSAGE"/>

    <application>

        <!-- tapjoy -->
        <!-- For SDK 11.3+ -->
        <receiver
            android:name="com.tapjoy.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.gcm.intent.RETRY" />

                <category android:name="com.stuartrosk.borders.app" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.tapjoy.TapjoyReceiver" />
        <!-- end tapjoy -->

    </application>

</manifest>
